.cardContainer {
    background-color: #001830;
    width: 336px;
    height: 268px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    padding-bottom: 60px;
    border-radius: 22px;
}

.cardContainer h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    padding: 4px 0;
    margin-top: 18px;
    margin-bottom: 18px;
}

.membro {
    background-color: #FF6600;
    width: 187px;
    height: 64px;
    padding-top: 12px;
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    border-radius: 22px;

}