.Header{
    background-color: #FF6600;
    height: 97px;
    display: flex;
    align-items: center;
    position: fixed;
    top:0;
    width: 100%;
}

.logoSerra{
    width: 58px;
    height: 57px;
    margin: 0px 20px;
}

.headerTitle{
    font-size: 36px;
    width: 700;
}